<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogUrlRewrite\Model\Product\AnchorUrlRewriteGenerator" type="HumanElement\DuplicateUrlKeyFix\Model\Product\AnchorUrlRewriteGenerator" />
    <preference for="Magento\CatalogUrlRewrite\Model\ProductUrlRewriteGenerator" type="HumanElement\DuplicateUrlKeyFix\Model\ProductUrlRewriteGenerator" />
</config>
